#buzz-button {
  margin-top: 0%;
  margin-left: 100px;
  color: blue;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
  width: 130px;
  height: 60px;
  font-size: 300%;
  padding-bottom: 70px;
}

#buzz-button:hover{
  background-color: #008CBA;
  color: white;
}

#buzz-button-text {
  font-size: 65%;
  vertical-align: middle;
  text-align: center;
}

#buzz-word-unit {

}

* {
  font-family: Lato;
}

body {
  background-image: url(./lachlan-gowen-787977-unsplash.jpg);
}
