#buzz-button {
  margin-top: 0%;
  margin-left: 100px;
  color: blue;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
  width: 130px;
  height: 60px;
  font-size: 300%;
  padding-bottom: 70px;
}

#buzz-button:hover{
  background-color: #008CBA;
  color: white;
}

#buzz-button-text {
  font-size: 65%;
  vertical-align: middle;
  text-align: center;
}

<<<<<<< HEAD
#buzz-word-unit {
  background-color: white;
  /* margin: auto; */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

* {
  font-family: Lato;
}

body {
  background-image: url(./lachlan-gowen-787977-unsplash.jpg);
  backface-visibility: visible;
  object-fit: cover;
}
=======
/* #buzz-word-unit {
  padding: 10%;
} */
>>>>>>> 179b59564975d5c8d958d9328bcc032dcdaf19d5
