.landing-page-header {
  height: 100vh; /* Take up 100% of screen*/
  background-image: url(https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5e5133f7f4bf26608f7ea50c1943a37&auto=format&fit=crop&w=334&q=80);

  /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover;
 


}

.landing-page-text {
  color: white;
}

h1 {
  font-size: 350%;
}
